//Wifi Credential
#define WIFI_SSID     "YOUR_WIFI_SSID"
#define WIFI_PASS     "YOUR_WIFI_PASS"

//MQTT Details
#define MQTT_SERVER   "YOUR_MQTT_SERVER"
#define MQTT_PORT     YOUR_MQTT_PORT
#define MQTT_USERNAME "YOUR_MQTT_USERNAME"
#define MQTT_PASS     "YOUR_MQTT_PASS"
#define DEVICE_ID     "YOUR_DEVICE_ID"
#define TOPIC_BASE    "YOUR_TOPIC_BASE"